*{box-sizing: border-box;
  }
a {white-space: nowrap;}

div.info{padding-left: 10px;
  padding-right: 10px;

}




a {text-decoration: none;
letter-spacing: 1px;
font-size: -2em;}
a:link{color:#784E32}
a:visited{grey}
a:hover{color:#C1BBB1}
a:active{color:#784E32}

p#hi {
  color: white;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  font-size:3em;

}

.mySlides {display:none;}

#imga {
padding-left: 10px;
padding-bottom: 10px;
padding-right:10px;

}

footer {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-size:11px;
}
p.foot {
	text-align: center;
	font-size:11px;
}

.buttons:hover {
  padding: 5px;
  background-color: #e3bd8f;
}

  .info {padding:8px;
    display: block;
    font-size: 1.7em;
    line-height: 1.5em;
    width: 100%;
    border-color: #E7E7E7;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    background-color:white;
  }

  .his {
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    color:white;
    line-height: 1.5em}

div.container2 {
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

span {color: white;
margin: 0;
padding: 10px;
letter-spacing: 4px;}

section.histo {
  width:100%;
  height: auto;
  border: 1px solid black;
    display: block;
  background-color: #584838;
padding: 15px;
height: 130%;
margin-left:auto;
  margin-right:auto;
}

h1 {letter-spacing: 2px;
  font-family: lato, sans-serif;
  padding-left:15px;
color:#ff1a1a;
text-align: center;
font-size: 44px;}

body {
  background-color:#E7E7E7 ;
  padding:0;
margin:0; }

#logo {
	display:block;
		margin-top:0;
		margin-left: auto;
    margin-right: auto;
padding-top: 0;}

.mail{white-space: nowrap;}



p {
  padding-left: 8px;
  padding-right: 8px;
  color:Black;
font-family: roboto,sans-serif;
}

section.section1 {
padding-left:70px;
}

li{
  font-family: roboto,sans-serif;
  text-align: left;
  font-size:26px;
  line-height: 1.5em;

}

.container {
	margin-left:auto;
	margin-right:auto;
	background-color:#E7E7E7;
	text-align: center }


img.buttons {;
	float:left;
	padding-left: 8px;
padding-right: 10px;}

section.button {
  margin-left:5px;
	position: fixed;
	float: left;
	display: block;
}



img#img1{
  padding-top:20px;
  padding-right:20px;
  padding-left:20px;
  padding-bottom:20px;
}



/* Clearfix 9clear f;oats) */
.row::after {
content: "";
clear: both;
display: table;
}

/*Simple Responsive Framework.*/
.row {
	width:100%;
	margin-left: 0;
  margin-right:0;
}

.responsive {
	width:100%;
	height:auto;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
section.section1 {
padding-left:10px;
  }

  p#hi { visibility: hidden; }

#img2 {margin-top:-17em;}

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
section.section1 {
padding-left:10px;
  }


/* make button align vertical */
  .buttons {
    margin: 0;
    padding-top: 8px;
    padding-left: 0;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
 }

 img.buttons {;
  float:left;
  padding-left: 0;
padding-right: 5px;}


section.button {
	margin-left:0;
}

p#hi { visibility: hidden; }

#img2 {margin-top:-20.3em;}


}

/********** Extra Large devices only excess 1200px **********/
@media (min-width: 1200px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
    margin-top: 8px;}

 .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }

  .col-xl-3 {
    width: 30%;
  }
  .col-xl-4 {
    width: 33%;
  }

  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 74.99%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }

  #imga {
padding-left: 10px;
padding-right:0;

}



section.section1 {
padding-left:70px;
}



/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    margin-left:8px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 31%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

  #imga {
padding-left: 10px;
padding-right:0;}


}



/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    margin-top: 8px;
  
  }
  .col-md-1 {
    width: 8.33%;

  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 49.4%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  
    #imga {
padding-left: 10px;
padding-right:0;

}

/********** Mobile devices only **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    margin-top: 8px
  }
  .col-sm-1 {
    width: 8.33%;

  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }

  #imga {
padding-left: 10px;
padding-right:10px;}

  .container {
	margin-left:auto;
	margin-right:auto;
	background-color:#E7E7E7;
	text-align: center }


  
}
